{% load static %}
<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Опросник</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
 </head>
 <body>
  <h1>АПРОСЬНЕГЪ</h1>
  {% if latest_question_list %}
   <ul>
    {% for question in latest_question_list %}
     <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
   </ul>
  {% else %}
   <p>В данный момент нет доступных опросов</p>
  {% endif %}
 </body>
</html>
